* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Shippori Mincho B1', serif;
}

a {
  text-decoration: none;
  color: #283750;
}

.firstview h1 {
  font-size: 64px;
  text-align: right;
  padding-top: 320px;
  margin-right: 200px;
  color: #283750;
}

.firstview p {
  font-size: 14px;
  text-align: right;
  margin-right: 200px;
  color: #283750;
}

.firstview {
  width: 100vw;
  height: 100vh;
  color: #283750;
  background-image: url(images/flower.png);
  background-position: center center;
  background-size: cover;
}

.about {
  padding: 180px;
  color: #283750;
  background-color: #DAE8E7;
}

.profile {
  height: 800px;
}

.profile h2 {
  font-size: 64px;
  letter-spacing: 0.1em;
}

.profile h3 {
  font-size: 24px;
  margin-top: 72px;
}

.profile p {
  font-size: 16px;
  margin-top: 24px;
}

.profile img {
  width: 480px;
  height: auto;
  margin-left: 120px;
  border-radius: 16px;
  position: relative;
	z-index:1;
}

.profile .profile-text {
  width: 500px;
  float: left;
  margin-left: 100px;
}

.clearfix {
  clear: both;
}

.hobby {
  margin-top: 180px;
  color: #283750;
  display: flex;
  justify-content: space-between;
}

.hobby img {
  width: 480px;
  height: auto;
  border-radius: 16px;
  position: relative;
	z-index:1;
}

.hobby h3 {
  margin-top: 8px;
}

.hobby p {
  margin-top: 16px;
}

.hobby a {
  display: inline-block;
  border-bottom: 1px solid;
  margin-top: 32px;
}

header {
  height: 80px;
  line-height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0 180px;
  position: fixed;
  width: 80vw;
  background-color: rgba(57,133,128, 0.3);
}

header p {
  font-size: 24px;
  font-weight: bold;
}

header ul {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

header a {
  font-size: 16px;
  font-weight: bold;
}

.contact {
  padding: 200px 200px 20px 200px;
  text-align: center;
}

.contact h2 {
  font-size: 64px;
  letter-spacing: 0.1em;
  border-bottom: 3px solid #398580;
  display: inline-block;
}

.contact p {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 200%;
  margin-top: 48px;
  text-align: left;
}

.contact a {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1em;
  background-color: #398580;
  color: #DAE8E7;
  width: 200px;
  line-height: 80px;
  display: inline-block;
  border-radius: 16px;
}

.contact .sns {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

